@import '../../../assets/styles/mixinFn.less';
.dialog-filter {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  z-index: -100;
  transition: all .3s ease-in-out;
  &--show {
    opacity: 1;
    z-index: 1000;
  }
  .dialog_wrap {
    position: relative;
    width: 600rpx;
    background:rgba(255,255,255,1);
    overflow: hidden;
    opacity: 0;
    border-radius: 5rpx;
    transform: translateY(-20rpx);
    transition: all .3s ease-in-out;
    &--show {
      opacity: 1;
      transform: translateY(0);
    }
    .dialog-title {
      display: flex;
      padding: 30rpx 30rpx 0;
      .title {
        flex-grow: 1;
        .border-init();
        &::after {
          .border-left();
        }
        &.center {
          text-align: center;
        }
      }
    } // e .dialog-title

    .dialog_img {    
      width: 440rpx;
      height: 440rpx;
      margin: 0 auto;
      &.mt40 {
        margin-top: 40rpx;
      }
    } // e .dialog-img

    .dialog_content {
      color: @thameAuxColor;
      font-size: 30rpx;
      padding: 30rpx;
    } // e .dialog_content
    
    .dialog_btn {
      display: flex;
      text-align: center;
      font-size: 26rpx;
      .border-init();
      &::after {
        .border-top();
      }
      .btn {
        flex-grow: 1;
        padding: 35rpx 0;
        &.cancel {
          color: @thameAuxColor;
          .border-init();
          &::after {
            .border-right();
          }
        }
        &.confirm {
          color: @thameColor;
        }
        &.btnHover {
          background: @backgroundGhostWhite;
        }
      }
    } // e .dialog_btn
  }
}