@import '../../../assets/styles/mixinFn.less';
.dot-size (@width; @height) {
  width: @width;
  height: @height;
}
.init-dot-circle () {
  .dot-size(15rpx; 15rpx);
  border-radius: 50%;
}
.init-dot-square () {
  .dot-size(15rpx; 8rpx);
  transform: skew(-20deg);
}
.xi-swiper-dots {
  position: absolute;
  bottom: 20rpx;
  width: 100%;
  display: flex;
  justify-content: center;
  .dots {
    margin: 0 10rpx;
    background: #fff;
    &.circle {
      .init-dot-circle();
      transition: transform .3s;
      box-shadow: 0 0 10rpx #ccc;
      &.active {
        transform: scale(1.3);
        background: @thameColor;
      }
    }
    &.square {
      .init-dot-square();
      transition: width .3s;
      &.active {
        width: 30rpx;
        background: @thameColor;
      }
    }
  }
}