@import '../../../assets/styles/mixinFn.less';
.px {
  padding: 30rpx;
  box-sizing: border-box;
}
.xi-messageClose {
  position: fixed;
  top: -30rpx;
  width: 100%;
  transition: top .3s;
  .xi-visiable();
  &:extend(.px);
  // start 展示类名
  &.show {
    .xi-show();
    top: 0;
  }
  .inner {
    position: relative;
    background: #fff;
    border-radius: 10rpx;
    box-shadow: 0 3rpx 5px @thameSmColor;
    min-height: 150rpx;
    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      bottom: -5rpx;
      content: "";
      display: block;
      width: 50%;
      height: 50rpx;
      border-radius: 5px;
      background: @thameSmColor;
      box-shadow: 0 4px 15px @thameSmColor;
      opacity: .7;
    }
    &::before {
      left: 5rpx;
      transform-origin: 60% 0;
      transform: rotate(-3deg);
    }
    &::after {
      right: 5rpx;
      transform-origin: 40% 0;
      transform: rotate(3deg);
    }
    .container {
      &:extend(.px);
      display: flex;
      align-items: center;
      font-size: @14;
      color: @thameAuxColor;
      &.center {
        justify-content: center;
      }
      // iconfont 放大化
      .fzMax {
        font-size: 50rpx !important;
      }
      .content {
        margin-left: 30rpx;
      }
    }
    .btn {
      &:extend(.px);
      font-size: 28rpx;
      color: @thameColor;
      text-align: right;
      text-decoration: underline;
    }
  }
}